.propertyStyling {
    // background-color: red;
    width: 86%;
    margin: 0 auto 10rem auto;
    .backButton {
        background-color: #3daeee;
        border: none;
        width: fit-content;
        padding: 0.7rem 1.5rem;
        border-radius: 0.5rem;
        color: #ffffff;
        cursor: pointer;
        margin: 3rem 0 1rem 0;
        transition: all 0.3s ease;
        &:hover {
            transition: all 0.3s ease;
            background-color: rgba(#3daeee, 0.8);
            transform: scale(1.05);
        }
    }
    .titleSection {
        display: flex;
        flex-direction: column;
        .propertyTitle {
            font-size: 3rem;
            font-weight: 500;
            color: #444444;
        }
        .propertyLocation {
            display: flex;
            align-items: center;
            padding: 0 0 2rem 0;
            img {
                width: 2.2rem;
                height: 2.2rem;
                margin-right: 1rem;
            }
            .locationDetails {
                color: #3daeee;
                margin: 0;
            }
            p {
                cursor: pointer;
                margin: 0 0 0 5rem;
                text-decoration: underline;
                color: #3daeee;
            }
        }
    }
    .imagesSection {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr 2fr;
        column-gap: 1rem;
        row-gap: 1rem;
        width: 100%;
        height: 54rem;
        #firstImage {
            grid-row-start: 1;
            grid-row-end: 3;
            width: 100%;
            height: 100%;
            img {
                height: 100%;
                object-fit: cover;
            }
            span {
            }
        }

        #propertyImages {
            width: 100%;
            height: 25rem;
            img {
                height: 25rem;
                object-fit: cover;
            }
        }
    }
    .loadMoreButton {
        background-color: #f6f6f6;
        border: 1px solid #333333;
        padding: 0.5rem 1.5rem;
        width: fit-content;
        position: absolute;
        margin: -5.5rem 0 0 112rem;
        pointer-events: none;
        font-size: 1.5rem;
        font-weight: 500;
        &:hover {
            background-color: red;
        }
    }
    .aboutProperty {
        display: flex;
        margin-top: 2rem;
        .leftSide {
            width: 82rem;
            padding: 1rem 1rem 0 0;
            margin-right: 1rem;
            .propertyInformation {
                .topSection {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h3 {
                        margin: 0;
                        font-size: 3rem;
                        color: #444444;
                    }
                    .saveAndShareButtons {
                        display: flex;
                        gap: 1rem;
                        .save {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            gap: 0.5rem;
                            font-size: 1.5rem;
                            font-weight: 600;
                            padding: 0.5rem 1rem;
                            border: 1px solid #333333;
                            background-color: #ffffff;
                            transition: all 0.3s ease;
                            .icon {
                                font-size: 1.5rem;
                            }
                            &:hover {
                                transition: all 0.2s ease;
                                background-color: rgba(#3daeee, 1);
                                color: #ffffff;
                            }
                        }
                        .share {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            gap: 0.5rem;
                            font-size: 1.5rem;
                            font-weight: 600;
                            padding: 0.5rem 1rem;
                            border: 1px solid #333333;
                            background-color: #ffffff;
                            transition: all 0.3s ease;
                            .icon {
                                font-size: 1.5rem;
                            }
                            &:hover {
                                transition: all 0.2s ease;
                                background-color: rgba(#3daeee, 1);
                                color: #ffffff;
                            }
                        }
                    }
                }
                .propertyFeatures {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 2rem;
                    .infoSection {
                        display: flex;
                        align-items: center;
                        align-content: center;
                        img {
                        }
                        p {
                            font-size: 2rem;
                            font-weight: 600;
                            margin: 0 0 0 1rem;
                        }
                    }
                }
                .propertyDescription {
                    margin: 2rem 0;
                    text-align: justify;
                    min-height: 15rem;
                }
                .propertyFacilities {
                    min-height: 5rem;
                    width: 100%;
                    // background-color: red;
                    .heading {
                        font-size: 2.5rem;
                        font-weight: 550;
                        color: #444444;
                    }
                    .facilitiesContainer {
                        display: flex;
                        margin-top: 2rem;
                        justify-content: space-between;
                        .column {
                            display: flex;
                            flex-direction: column;
                            gap: 2.5rem;
                            .row {
                                display: flex;
                                gap: 2rem;
                                .image {
                                    width: 3rem;
                                    height: 3rem;
                                }
                                .facilityTitle {
                                    font-size: 1.6rem;
                                    font-weight: 500;
                                }
                            }
                            .disabled {
                                opacity: 0.3;
                            }
                        }
                    }
                }
            }
        }
        .rightSide {
            display: flex;
            flex-direction: column;
            width: 41rem;
            height: fit-content;
            padding: 1rem 2rem 4rem 2rem;
            border: 1px solid #333333;
            .ownerDetails {
                margin: 0 1rem;
                padding: 1.5rem 0 0 0;
                .owner {
                    border-radius: 1rem;
                    display: flex;
                    gap: 1rem;
                    padding: 0.5rem 1rem;
                    align-items: center;
                    padding-bottom: 1rem;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    &:hover {
                        background-color: rgba(#3daeee, 0.3);
                    }
                    p {
                        font-size: 1.8rem;
                        font-weight: 500;
                        margin: 0;
                    }
                    img {
                        width: 3.5rem;
                    }
                }
                .propertyPriceSection {
                    margin: 1rem 0;
                    font-size: 1.5rem;
                    color: #333333;
                    font-weight: 500;
                    border-bottom: 2px solid #333333;
                    padding: 0;
                    p {
                        margin: 0;
                    }
                    .price {
                        font-size: 3rem;
                        font-weight: 400;
                        color: #3daeee;
                        margin: 0;
                    }
                }
                .userButtons {
                    display: flex;
                    gap: 1rem;
                    justify-content: space-between;
                    margin-top: 2rem;
                    .emailButton {
                        width: 50%;
                        background-color: #ffffff;
                        border: 2px solid #3daeee;
                        border-radius: 0.5rem;
                        padding: 0.5rem 1.5rem;
                        font-size: 1.8rem;
                        font-weight: 500;
                        color: #3daeee;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5rem;
                        p {
                            margin: 0;
                        }
                        &:hover {
                            background-color: rgb(247, 247, 247);
                        }
                        img {
                            width: 3rem;
                        }
                    }
                    .requestPurchaseButton {
                        width: 50%;
                        background-color: #3daeee;
                        border: none;
                        border-radius: 0.5rem;
                        padding: 0.5rem 1.5rem;
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: #ffffff;
                        cursor: pointer;
                        &:hover {
                            background-color: rgba(#3daeee, 0.8);
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1441px) {
    .imagesSection {
        min-height: 70rem;
    }
}
