main {
    .hero-section {
        display: flex;
        flex-direction: column;
        margin-top: 13rem;
        .text {
            h1 {
                font-size: 10rem;
                font-weight: 600;
                margin: 0 0 0 8vw;
                color: #444444;
                span {
                    color: line;
                    background-image: linear-gradient(45deg, #3daeee, #9747ff);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .lower-text {
                margin-left: 33vw;
                margin-top: -4.5rem;
                color: #444444;
            }
        }
        .vector {
            width: 100%;
            position: relative;
            z-index: -1;
            margin-top: -50rem;
            img {
                width: 100%;
            }
        }
    }
    .white-box {
        width: 100%;
        height: 8rem;
        background-color: #ffffff;
        margin-top: -8rem;
    }
    .about-description {
        margin: 1rem 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .horizontal-line {
            height: 1px;
            background-color: rgba(#999999, 0.8);
            display: flex;
            justify-content: center;
            width: 95%;
            margin: 0 auto;
        }
        .middle-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 2rem 0;
            width: 95%;
            p {
                width: 55%;
                font-size: 2.2rem;
                font-weight: 400;
                color: #555555;
                margin-top: 1rem;
            }
            .vectical-line {
                margin-left: 24vw;
                height: 10rem;
                width: 1px;
                background-color: rgba(#999999, 0.8);
            }
            img {
                width: 5rem;
                margin-right: 3rem;
            }
        }
    }
    .focus {
        margin: 10rem 0;
        h1 {
            text-align: center;
            font-size: 7rem;
            font-weight: 500;
            font-style: italic;
            margin: 5rem 0;
            span {
                color: line;
                padding: 0 0.35rem;
                background-image: linear-gradient(45deg, #9747ff, #3daeee);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .attributes-section {
            width: 90%;
            margin: 0 auto;
            display: flex;
            gap: 1rem;
            .attribute {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .image-container {
                    width: 5rem;
                    height: 5rem;
                    display: flex;
                    align-items: flex-end;
                    img {
                    }
                }
                h2 {
                    margin-top: 2rem;
                    color: #9747ff;
                }
                p {
                    width: 80%;
                }
            }
        }
    }
    .our-story {
        width: 90%;
        margin: 12rem auto 5rem auto;
        .box {
            background: linear-gradient(100deg, rgba(61, 174, 238, 0.7) 0%, rgba(151, 71, 255, 0.5) 100%);
            border-radius: 5rem;
            height: 25rem;
            h1 {
                font-size: 5rem;
                color: #ffffff;
                margin-left: 6rem;
                padding-top: 1rem;
            }
            .stats-div {
                margin-left: 6rem;
                display: flex;
                justify-content: space-between;
                width: 90%;
                .stat {
                    h3 {
                        font-size: 4rem;
                        font-style: italic;
                        font-weight: 400;
                        color: #ffffff;
                        margin: 0;
                    }
                    p {
                        font-size: 2rem;
                        color: #555555;
                    }
                }
            }
        }
    }
    .horizontal-line {
        height: 2px;
        width: 90%;
        margin: 2rem auto 4rem auto;
        background-color: rgba(#999999, 0.6);
    }
    .quote-section {
        margin: 25rem 0 12rem 0;
        h1 {
            font-size: 3vw;
            color: #555555;
            text-align: center;
            font-weight: 600;
            width: 70%;
            margin: 0 auto;
            background: linear-gradient(to right, #9747ff 20%, #3daeee 40%, #3daeee 60%, #9747ff 80%, #9747ff 100%);
            background-size: 200% auto;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shine 4s linear infinite;
            @keyframes shine {
                to {
                    background-position: 200% center;
                }
            }
        }
        #styled-vector {
            fill: url(#gradientColor);
            stroke: none;
        }
        .styled-shape {
            margin-top: -25rem;
            position: relative;
            z-index: -1;
            img {
                width: 100%;
            }
        }
    }
    .team {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10rem;
        h1 {
            font-size: 5rem;
            color: #444444;
        }
        .team-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 4rem;
            .team-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 40rem;
                height: 40rem;
                background-color: rgba(#3daeee, 0.5);
                border-radius: 4rem;
                transition: all 0.3s ease;
                &:hover {
                    transition: all 0.3s ease;
                    transform: translateY(-1rem);
                    scale: 1.02;
                }
                img {
                    width: 24rem;
                    border-radius: 50%;
                }
                .team-description {
                    background-color: #ffffff;
                    border-radius: 2rem;
                    width: 70%;
                    margin-top: 1.5rem;
                    h3 {
                        margin: 1rem 0 0 2rem;
                        font-weight: 600;
                    }
                    p {
                        margin: 0 0 1rem 2rem;
                    }
                }
            }
            .orange {
                background-color: rgba(#9747ff, 0.5);
            }
        }
    }
    .partners {
        width: 90%;
        margin: 0 auto 10rem auto;
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 6rem;
            background-color: rgba(#3daeee, 0.45);
            .title {
                margin-top: 4rem;
                h1 {
                    color: #ffffff;
                    font-size: 6rem;
                    font-weight: 500;
                    text-shadow: 1px 2px #999999;
                }
            }
            .partner-cards {
                display: flex;
                flex-direction: row;
                width: 92%;
                margin: 0 auto 5rem auto;
                justify-content: space-between;
                .partner-card {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    width: 37rem;
                    text-align: justify;
                    padding: 1rem 2rem;
                    border-radius: 3rem;
                    &:hover {
                        transition: all 0.3s ease;
                        background-color: rgba(#ffffff, 0.2);
                    }
                    .image-div {
                        width: 15rem;
                        img {
                        }
                    }
                    h1 {
                        font-size: 2rem;
                        font-weight: 700;
                        color: #0069a4;
                    }
                    .description {
                        font-size: 1.3rem;
                    }
                    .category {
                        border: 1px solid #444444;
                        padding: 1rem 1.5rem;
                        width: fit-content;
                        border-radius: 3rem;
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1441px) {
    main {
        .hero-section {
            // background-color: #3daeee;
            .text {
                h1 {
                }
            }
            .vector {
                img {
                    width: 100%;
                    margin-top: -6vw;
                }
            }
        }
        .quote-section {
            h1 {
            }
            .styled-shape {
                max-width: 120%;
                svg {
                }
            }
        }
    }
}
