.footerMain {
    display: flex;
    flex-direction: column;
    background-color: rgb(#9747ff, 0.6);
    color: white;
    margin-top: auto;
    width: 100%;
    .topSection {
        display: flex;
        width: 75%;
        justify-content: space-between;
        align-items: center;
        margin: 5rem auto 1rem auto;
        border-bottom: 1px solid #ffffff;
        padding: 0 0.5rem 3rem 0.5rem;
        img {
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                font-size: 1.8rem;
                margin: 0;
                font-weight: 500;
                margin-right: 1rem;
            }
            .exploreButton {
                width: 10rem;
                height: 4rem;
                font-weight: 500;
                background-color: #ffffff;
                color: #9747ff;
                border: none;
                border-radius: 0.5rem;
                cursor: pointer;
                font-size: 1.5rem;
                transition: all 0.2s ease;
                &:hover {
                    transition: all 0.2s ease;
                    background-color: #e4e4e4;
                }
                .exploreLink {
                    text-decoration: none;
                    &:visited {
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .link {
        text-decoration: none;
        color: white;
        &:hover {
            color: #e4e4e4;
        }
    }
    h3 {
        font-weight: 600;
        font-size: 2.3rem;
        color: #ffffff;
    }
    .bottomSection {
        display: flex;
        gap: 14rem;
        justify-content: center;
        height: 30rem;
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 1rem;
        .col1 {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
        .col2 {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
        .col3 {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
        .col4 {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            .socialLinks {
                display: flex;
                gap: 3rem;
                margin-top: 2rem;
                a {
                    img {
                        width: 2.8rem;
                        &:hover {
                            opacity: 0.8;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
