.create-property {
  float: left;
  position: relative;
  .active {
    background-color: #3498db;
  }
  .container {
    margin-top: -3rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    width: 65%;
    border-radius: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    .arrowBack {
      width: fit-content;
      padding: 1rem;
      font-size: 2rem;
      border: 1px solid #999;
      border-radius: 50%;
      margin: 0 0 2rem 0;
      &:hover {
        border-color: #3daeee;
        background-color: #3daeee;
        svg {
          fill: #fff;
        }
      }
    }
    #step-1 {
      height: 125rem;
      width: 60rem;
      padding-top: 5rem;
      .fullform {
        display: flex;
        text-align: left;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;

        .emailAddressInput {
          &::placeholder {
            color: #111;
          }
        }
        .propertyIdInput {
          &::placeholder {
            color: #111;
          }
        }
        .inputs-container-2 {
          width: 100rem;
          margin-top: -2rem;
          padding: 0;
          .first-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 2rem 0 0 0;
            gap: 2rem;
            .label-container {
              // background-color: #3daeee;
              display: flex;
              justify-content: space-between;
              align-items: center;
              min-width: 25rem;
              label {
              }
            }
          }
        }
        .inputs-container {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          .datePicker {
            padding: 0.4rem 2rem;
            max-height: 4.5rem;
            font-size: 2rem;
            border-radius: 5rem;
            input {
              font-size: 1.5rem;
              color: #555;
            }
          }

          .ant-select-selector {
            // border-radius: 10rem;
            padding: 0.5rem 2rem;
            // width: 15rem;
            height: 4.5rem;
            font-size: 1.5rem;
            color: #777777;
          }
          .facilitiesSelect > div {
            padding: 0.5em 2rem;
            border-radius: 3rem;
            height: fit-content;
          }
          .input-item {
            display: flex;
            justify-content: space-between;
            .selectPropertyType {
              width: 100%;
            }
          }
          .ethAddressInput {
            &::placeholder {
              color: #111;
            }
          }
          .fullNameInput {
            &::placeholder {
              color: #111;
            }
          }
        }
        .bedsInputNumber {
          width: 8rem;
          border-radius: 0.5rem;
          padding: 0.5rem 1rem;
          font-size: 1.8rem;
          color: #555;
        }
        .buttons-container {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          margin-top: -3rem;
        }
      }
    }
    // #step-2 {
    //   height: 63rem;
    //   width: 60rem;
    //   display: flex;
    //   padding-top: 5rem;
    //   flex-direction: column;
    //   .fullform {
    //     height: 63rem;
    //     display: flex;
    //     text-align: left;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     .inputs-container {
    //       display: flex;
    //       flex-direction: column;
    //       gap: 2rem;
    //       .input-item {
    //         display: flex;
    //         justify-content: space-between;
    //       }
    //     }
    //     .buttons-container {
    //       display: flex;
    //       align-items: flex-end;
    //       justify-content: space-between;
    //     }
    //   }
    //   .emailAddressInput {
    //     &::placeholder {
    //       color: #111;
    //     }
    //   }
    //   .propertyIdInput {
    //     &::placeholder {
    //       color: #111;
    //     }
    //   }
    //   .ethAddressInput {
    //     &::placeholder {
    //       color: #111;
    //     }
    //   }
    //   .ant-picker {
    //   }
    // }
    // #step-3 {
    //   height: 63rem;
    //   width: 60rem;
    //   padding-top: 5rem;
    //   .fullform-third {
    //     width: 60rem;
    //     height: 63rem;
    //     margin-right: 10rem;
    //     display: flex;
    //     flex-direction: column;
    //     text-align: left;
    //     justify-content: space-between;
    //     .inputs-container {
    //       width: 50rem;
    //       .first-container {
    //         display: flex;
    //         margin: 2rem 0;
    //         .label-container {
    //           display: flex;
    //           margin-right: 2rem;
    //           min-width: 30rem;
    //           label {
    //             margin: 0 4rem 0 0;
    //           }
    //         }
    //       }

    //       #NumberofBeds {
    //       }
    //       .icons-container {
    //         display: flex;
    //         gap: 2rem;
    //         .icons-row {
    //           text-align: left;
    //           .facility {
    //             display: flex;
    //             align-items: center;
    //             width: 30rem;
    //             margin-top: 0.5rem;
    //             img {
    //               height: 3rem;
    //               width: 4rem;
    //             }
    //             label {
    //               margin-left: 1rem;
    //               width: 15rem;
    //             }
    //           }
    //         }
    //       }
    //     }
    //     .buttons-container {
    //       display: flex;
    //       justify-content: space-between;
    //       align-items: flex-end;
    //     }
    //   }
    // }
    #step-2 {
      height: 73rem;
      width: 60rem;
      padding-top: 5rem;
      .fullform {
        height: 63rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        .inputs-container {
          h3 {
            text-align: left;
            font-size: 1.5rem;
            color: #3daeee;
            margin-top: 0;
            margin-bottom: 1rem;
          }
          .uploadImages {
            display: flex;
            justify-content: flex-start;
            width: 100%;
          }
          .uploadFiles {
            text-align: center;
            width: 100%;
            height: 12rem;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin: 0 auto;
            gap: 1rem;
            .ant-upload-drag-icon {
              text-align: center;
              height: 2rem;
              svg {
                width: 3rem;
              }
            }
            .ant-upload-text {
              text-align: center;
              padding-top: 1rem;
            }
            .ant-upload-hint {
              font-size: 1.4rem;
              padding: 0 5rem;
              text-align: center;
            }
          }
          .primaryImage {
            display: flex;
            align-items: flex-start;
            align-items: center;
            justify-content: space-between;
            h1 {
              margin-top: 1rem;
              font-size: 1.6rem;
              color: #555;
            }
          }
          .imagesUploadContainer {
            // background-color: red;
          }
        }
        .buttons-container {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
      }
    }
    #step-3 {
      margin-top: 7rem;
      display: flex;
      height: fit-content;
      .fullform {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        img {
          width: 15rem;
        }
        button {
          font-size: 2rem;
          padding: 1rem 2rem;
        }
      }
    }

    .containerchild {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      header {
      }
    }

    li {
      background-color: #3daeee;
      border: #3daeee;
      font-size: 2rem;
      svg {
        fill: white;
      }
    }

    ol {
      margin: 0;
      span {
        background-color: rgba(#3daeee, 0.3);
      }
    }

    [type="number"] {
      padding: 12px;
      resize: vertical;
      color: #3daeee;
      text-align: center;
    }

    input[type="text"],
    [type="month"],
    [type="date"] {
      width: 100%;
      padding: 12px;
      resize: vertical;
      color: #3daeee;
      text-align: center;
    }
    select {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      color: #3daeee;
    }

    ::placeholder {
      color: #aaaaaa;
      text-align: center;
    }

    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }

    .validatebtn {
      background-color: #fff;
      outline: #3498db;
      border: 1px solid #3498db;
      cursor: pointer;
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      letter-spacing: 1px;
      font-weight: 500;
      color: #3498db;
      text-align: left;
      width: fit-content;
      float: right;
      margin-top: 5em;

      &:hover {
        color: #fff;
        background-color: #96ceee;
      }
    }
    .nextButton {
      background-color: #3daeee;
      border: none;
      cursor: pointer;
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      letter-spacing: 1px;
      font-weight: 500;
      color: #ffffff;
      text-align: left;
      width: fit-content;
      float: right;
      margin-top: 8rem;
      &:hover {
        background-color: #5ab6eb;
      }
    }
    .prevButton {
      border-color: #3498db;
      color: #3498db;
      border: 1px solid #3498db;
      background-color: #fff;
      cursor: pointer;
      padding: 1rem 2rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      letter-spacing: 1px;
      font-weight: 500;
      color: #3498db;
      width: fit-content;
      float: left;
      &:hover {
        background-color: #8dc6e8a4;
      }
    }

    .removeoutline {
      outline: none;
    }

    .facilityIcon {
      margin-bottom: 0.2em;
      max-width: 1.5em;
      margin-right: 1em;
    }

    .col-5 {
      float: left;
      width: 3%;
      margin-top: 10px;
    }

    .col-10 {
      float: left;
      width: 10%;
      margin-top: 6px;
    }
    .col-20 {
      float: left;
      width: 20%;
      margin-top: 6px;
    }
    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }

    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .row {
      position: relative;
      padding: 10px 20px;
    }

    .progress-container {
      top: 0;
      left: 0;
      position: relative;
      text-align: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      max-width: 100%;
      width: 350px;
    }
    #stepper123 {
      position: relative;
    }
    .progress-container::before {
      content: "";
      background: #e0e0e0;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 4px;
      width: 100%;
      z-index: -1;
    }
    .progress {
      background: #3498db;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 4px;
      width: 0%;
      z-index: -1;
      transition: 0.4s ease;
    }
    .circle {
      background: #fff;
      color: #999;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #e0e0e0;
      transition: 0.4s ease;
    }
    .circle.active {
      border-color: #3498db;
    }

    .circle.fiv {
      background: #fff;
      color: #999;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #e0e0e0;
      transition: 0.4s ease;
    }

    p {
      text-align: left;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      position: relative;
    }
    .text.done {
      color: #3daeee;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      /* identical to box height */

      letter-spacing: 0.01em;
      position: relative;
      text-align: left;
    }
    #uploadcont {
      min-width: 90em;
    }
    .checkimage {
      position: relative;
      align-items: center;
      text-align: center;
    }
    .checkimage img {
      width: 200px;
    }

    .text.upload {
      font-size: 2rem;
    }

    .circle.active.end {
      background-color: #3daeee;
      color: white;
    }

    .btn-submit.end {
      position: relative;
      width: 15em;
      text-align: center;
      align-items: center;
    }
  }
}
.property-card {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  .property {
    width: 34rem;
    height: 30rem;
    position: relative;
    transition: all 0.3s ease;
    padding: 1rem;
    &:hover {
      transition: all 0.3s ease;
      transform: scale(1.05);
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    img {
      width: 34rem;
      height: 20rem;
      object-fit: cover;
    }
    .propertyLabel {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0 0 0;
      margin: 0;
      h3 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #333333;
      }
      p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      img {
        width: 2rem;
        height: auto;
      }
    }
    .propertyDescription {
      margin: -1rem 0 0 0;
      font-size: 1.4rem;
      font-weight: 400;
    }
    .propertyPrice {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

// for macbook screen size and lower
@media screen and (max-width: 1440px) {
  .container {
    #step-1 {
    }
    #step-2 {
    }
    #step-3 {
      .fullform-third {
        .inputs-container {
          .first-container {
            .label-container {
              label {
                margin-right: 0;
              }
              margin-right: 2rem;
              max-width: 20rem;
            }
          }
        }
      }
    }
  }
}
