.create-property {
  float: left;
  position: relative;
  .active {
    background-color: #3498db;
  }

  .container {
    margin-top: -3rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    width: 70%;
    #step-1 {
      height: 63rem;
      width: 60rem;
      padding-top: 5rem;
      .fullform {
        height: 63rem;
        display: flex;
        text-align: left;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        .inputs-container {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          .input-item {
            display: flex;
            justify-content: space-between;
            .selectPropertyType {
              width: 100%;
            }
          }
          .ethAddressInput {
            &::placeholder {
              color: #111;
            }
          }
          .fullNameInput {
            &::placeholder {
              color: #111;
            }
          }
        }

        .buttons-container {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
        }
      }
    }
    #step-2 {
      height: 63rem;
      width: 60rem;
      display: flex;
      padding-top: 5rem;
      flex-direction: column;
      .fullform {
        height: 63rem;
        display: flex;
        text-align: left;
        flex-direction: column;
        justify-content: space-between;
        .inputs-container {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          .input-item {
            display: flex;
            justify-content: space-between;
            .datePicker {
              padding: 0.5rem 4rem;
              font-size: 2rem;
              border-radius: 5rem;
              input {
                font-size: 1.5rem;
                color: #555;
                margin-right: -3rem;
              }
            }
          }
        }
        .buttons-container {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
        }
      }
      .emailAddressInput {
        &::placeholder {
          color: #111;
        }
      }
      .propertyIdInput {
        &::placeholder {
          color: #111;
        }
      }
      .ethAddressInput {
        &::placeholder {
          color: #111;
        }
      }
      .ant-picker {
      }
    }
    #step-3 {
      height: 63rem;
      width: 60rem;
      padding-top: 5rem;
      .fullform-third {
        width: 60rem;
        height: 63rem;
        margin-right: 10rem;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-between;
        .inputs-container {
          width: 50rem;
          .first-container {
            display: flex;
            margin: 2rem 0;
            .label-container {
              display: flex;
              margin-right: 5rem;
              min-width: 30rem;
              label {
                margin: 0 5rem 0 0;
              }
            }
          }
          .icons-container {
            display: flex;
            gap: 4rem;
            .icons-row {
              text-align: left;
              .facility {
                display: flex;
                align-items: center;
                width: 30rem;
                margin-top: 0.5rem;
                img {
                  height: 3rem;
                  width: 3rem;
                }
                label {
                  margin-left: 1rem;
                  width: 15rem;
                }
              }
            }
          }
        }
        .buttons-container {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
      }
    }
    #step-4 {
      height: 63rem;
      width: 60rem;
      padding-top: 5rem;
      .fullform {
        height: 63rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        .inputs-container {
        }
        .buttons-container {
        }
      }
    }
    #step-5 {
      .fullform {
        height: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        img {
          width: 15rem;
        }
        #dashboardend {
          button {
            font-size: 2rem;
            padding: 1rem 2rem;
          }
        }
      }
    }

    border-radius: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    .validatebtn {
      background-color: #fff;
      outline: #3498db;
      border: 1px solid #3498db;

      cursor: pointer;
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      letter-spacing: 1px;
      font-weight: 500;
      color: #3498db;
      text-align: left;
      width: fit-content;
      float: right;
      margin-top: 5em;

      &:hover {
        color: #fff;
        background-color: #96ceee;
      }
    }

    .containerchild {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      header {
      }
    }

    li {
      background-color: #3daeee;
      border: #3daeee;
      svg {
        fill: white;
      }
    }

    ol {
      margin: 0;
      span {
        background-color: rgba(#3daeee, 0.3);
      }
    }

    [type="number"] {
      padding: 12px;
      resize: vertical;
      color: #3daeee;
      text-align: center;
    }
    .third {
    }

    input[type="text"],
    [type="month"],
    [type="date"] {
      width: 100%;
      padding: 12px;
      resize: vertical;
      color: #3daeee;
      text-align: center;
    }
    select {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      color: #3daeee;
    }

    ::placeholder {
      color: #aaaaaa;
      text-align: center;
    }

    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }

    .nextButton {
      background-color: #3daeee;
      border: none;
      cursor: pointer;
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      letter-spacing: 1px;
      font-weight: 500;
      color: #ffffff;
      text-align: left;
      width: fit-content;
      float: right;

      &:hover {
        background-color: #5ab6eb;
      }
    }
    .prevButton {
      border-color: #3498db;
      color: #3498db;
      border: 1px solid #3498db;
      background-color: #fff;
      cursor: pointer;
      padding: 1rem 2rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      letter-spacing: 1px;
      font-weight: 500;
      color: #3498db;
      width: fit-content;
      float: left;
      &:hover {
        background-color: #8dc6e8a4;
      }
    }

    .removeoutline {
      outline: none;
    }

    .facilityIcon {
      margin-bottom: 0.2em;
      max-width: 1.5em;
      margin-right: 1em;
    }

    .col-5 {
      float: left;
      width: 3%;
      margin-top: 10px;
    }

    .col-10 {
      float: left;
      width: 10%;
      margin-top: 6px;
    }
    .col-20 {
      float: left;
      width: 20%;
      margin-top: 6px;
    }
    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }

    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .row {
      position: relative;
      padding: 10px 20px;
    }

    .progress-container {
      top: 0;
      left: 0;
      position: relative;
      text-align: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      max-width: 100%;
      width: 350px;
    }
    #stepper123 {
      position: relative;
    }
    .progress-container::before {
      content: "";
      background: #e0e0e0;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 4px;
      width: 100%;
      z-index: -1;
    }
    .progress {
      background: #3498db;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 4px;
      width: 0%;
      z-index: -1;
      transition: 0.4s ease;
    }
    .circle {
      background: #fff;
      color: #999;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #e0e0e0;
      transition: 0.4s ease;
    }
    .circle.active {
      border-color: #3498db;
    }

    .circle.fiv {
      background: #fff;
      color: #999;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #e0e0e0;
      transition: 0.4s ease;
    }

    p {
      text-align: left;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      position: relative;
    }
    .text.done {
      color: #3daeee;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      /* identical to box height */

      letter-spacing: 0.01em;
      position: relative;
      text-align: left;
    }
    #uploadcont {
      min-width: 90em;
    }
    .checkimage {
      position: relative;
      align-items: center;
      text-align: center;
    }
    .checkimage img {
      width: 200px;
    }

    .text.upload {
      font-size: 23px;
    }

    .circle.active.end {
      background-color: #3daeee;
      color: white;
    }

    .btn-submit.end {
      position: relative;
      width: 15em;
      text-align: center;
      align-items: center;
    }
  }
}
