#root {
    .ant-spin {
        span {
            list-style-type: none;
            li:before {
                content: "\00b7";
                font-size: 20rem;
            }
        }
    }
}
.main_container {
    width: 100%;
    margin: 0px auto;
    font-family: Poppins !important;
    margin-top: 40px;

    .logo_container {
        display: flex;
        align-items: center;
    }

    .logo_text {
        color: #000000;
        font-size: 36px;
        margin-left: 8px;
        font-family: Poppins;
    }

    .header-text {
        color: #000000;
        font-size: 20px;
        font-family: Poppins;
    }

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        height: 100px;
        /* background: rgba(255, 255, 255, 0.4); */
        background: rgba(255, 255, 255, 1);
        position: fixed;
        top: 0px;
        color: var(--bg);
        align-items: center;
        padding: 0vh 0.75em;
        /* font-size: 2em; */
        z-index: 3;
        max-width: 1440px;
    }

    .nav_icons_container {
        margin-left: 20px;
        margin-right: 5px;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .footer_logo_container {
        display: flex;
        align-items: center;
    }

    .footer_logo_text {
        color: #ffffff;
        font-size: 36px;
        margin-left: 8px;
        font-family: Poppins;
    }

    .footer-text {
        color: #ffffff;
        font-size: 20px;
        font-family: Poppins;
    }

    .disconnect_item {
        margin-left: 18px;
    }

    .disconnectWalletButton {
        width: 200px;
        height: 4rem;
        font-size: 1.5rem;
        font-family: "Roboto Mono", monospace;
        border: none;
        outline: none;
        cursor: pointer;
        transform: translate(0);
        background-image: linear-gradient(45deg, #2bc0e4, #9747ff);
        border-radius: 0.6rem;
        box-shadow: 0 22px 44px rgba(gray, 0.1);
        transition: box-shadow 0.25s;
        border: none;
        transition: all 0.3s ease;

        .text {
            color: white;
        }

        &:hover {
            transform: translateY(-0.2rem);
            transition: all 0.2s ease;
            background-image: linear-gradient(45deg, rgba(#2bc0e4, 0.8), rgba(#9747ff, 0.9));
            box-shadow: 0 12px 24px rgba(#3daeee, 0.15);
        }
    }

    .footer_button {
        padding: 10px 36px;
        color: #ffffff;
        border-radius: 8px;
        background: #3daeee;
        font-size: 20px;
        font-family: Poppins;
        border: inherit;
        cursor: pointer;
    }

    .agreement_upload_button {
        padding: 5px 16px;
        color: #ffffff;
        border-radius: 8px;
        background: #3daeee;
        font-size: 14px;
        font-family: Poppins;
        border: inherit;
        cursor: pointer;
    }

    .agreement_upload_button:disabled {
        border: 1px solid #bcbcbc !important;
        color: white !important;
        background: #bcbcbc;
        padding: 5px 20px;
        cursor: default;
    }

    .agreement_uploaded_button {
        padding: 5px 16px;
        color: #ffffff;
        border-radius: 8px;
        background: #2bd350;
        font-size: 14px;
        font-family: Poppins;
        border: inherit;
    }

    .footer_outer_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: #1e2833;
        /* position: absolute;
        bottom: 0px;
        left: 0; */
        width: 100%;
        height: 555px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        max-width: 1440px;
        color: var(--bg);
        align-items: center;
        padding: 0vh 0.75em;
        font-size: 2em;
        z-index: 3;
    }

    .footer_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
    }

    .footer_menu_column {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .footer_icons_container {
        margin-right: 5px;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .leftsidebar_container {
        max-width: 290px;
        width: 20.13vw;
        margin-bottom: 60px;
    }

    .leftsidebar_content {
        margin-top: 15px;
        height: 770px;
        /* filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.42))!important; */
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 1px solid rgba(167, 167, 167, 0.8);
        display: flex;
        flex-direction: column;
    }

    .leftsidebar_button {
        padding: 0.6rem 3.8rem;
        color: #ffffff;
        border-radius: 8px;
        background: #3daeee;
        font-size: 1.8rem;
        font-family: Poppins;
        border: inherit;
        cursor: pointer;
    }

    .leftsidebar_button_outlined {
        padding: 0.6rem 3.8rem;
        color: #3daeee;
        border-radius: 8px;
        background: #ffffff;
        border: 1px solid #3daeee !important;
        font-size: 1.8rem;
        font-family: Poppins;
        border: inherit;
        cursor: pointer;
    }

    .leftsidebar_button_outlined:disabled {
        border: 1px solid #bcbcbc !important;
        color: #bcbcbc !important;
    }

    .leftsidebar_item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        gap: 15px;
        font-size: 20px;
        color: rgba(102, 102, 102, 0.8);
        padding: 2rem;
        user-select: none;
        cursor: pointer;
        .icon {
            width: 2.3rem;
            height: auto;
        }
        h2 {
            color: #666;
            font-size: 1.9rem;
            margin: 0;
            font-weight: 400;
        }
    }

    .leftsidebar_item:hover {
        h2 {
            color: #3daeee;
        }
    }

    .rightsidebar_container {
        margin-left: 20px;
        width: 65.5vw;
        margin-bottom: 60px;
    }

    .rightsidebar_content {
        margin-top: 15px;
        height: 770px;
        display: flex;
        flex-direction: column;
    }

    .rightsidebar_title {
        font-size: 32px;
        font-weight: 500;
        color: #555555;
    }

    .rightsidebar_subtitle {
        font-size: 24px;
        font-weight: 400;
        color: #555555;
    }

    .agreement_subtitle {
        font-size: 18px;
        font-weight: 700;
        color: #000000;
    }

    .agreement_view_subtitle {
        font-size: 24px;
        font-weight: 550;
        color: #3daeee;
    }

    .agreement_view_value {
        font-size: 16px;
        font-weight: 400;
        color: #3daeee;
        background: #f2f2f2;
        padding: 7px 0px;
        border: 1px solid #8f8f8f;
        border-radius: 8px;
        width: 270px;
        text-align: center;
    }

    .document_label {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;
        color: #5467d9;
        font-weight: 500;
    }

    .agreement_view_label {
        font-size: 16px;
        font-weight: 400;
        color: rgba(102, 102, 102, 0.8);
        margin-bottom: 0;
    }

    .rightsidebar_upload_text {
        font-size: 20px;
        font-weight: 400;
        color: #555555;
    }

    .rightsidebar_item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 20px;
        user-select: none;
    }

    .dashboard_card {
        max-width: 285px;
        width: 15vw;
        height: 18rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        cursor: pointer;
        transition: all ease 0.3s;
        &:hover {
            transition: all ease 0.3s;
            scale: (1.05);
            transform: translateY(-0.2rem);
            cursor: pointer;
        }
    }

    .dashboard_card_icon {
        background: #7fc3e9;
        width: 82px;
        height: 82px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dashboard_card_text {
        font-size: 20px;
        color: #858585;
    }

    .dashboard_card_container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 3rem;
        margin: 2px;
        .incomeByButton {
            border: none;
            background-color: #fff;
            cursor: pointer;
            width: fit-content;
            height: fit-content;
            &:hover {
                color: rgba(#1877f2, 0.5);
            }
        }
        .selected {
            color: #1877f2;
        }
    }

    .filepond--drop-label {
        width: 100%;
        background: #e2ebf2;
        height: 120px !important;
        padding: 20px;
        border: 1px dashed #3daeee;
        border-radius: 8px;
    }

    .filepond--panel-bottom {
        background: #e2ebf2 !important;
    }

    .filepond--panel-center {
        background: #e2ebf2 !important;
    }

    .filepond--panel-top {
        background: #e2ebf2 !important;
    }

    .filepond--file {
        background: lightslategray !important;
    }

    .checkbox_text {
        font-size: 16px;
    }

    thead {
        outline: 1px solid #d7d7d7 !important;
    }

    th {
        font-size: 14px;
        font-weight: 700;
        text-align: left;
        padding: 10px;
        color: #636971;
    }

    td {
        padding: 10px;
    }

    tr {
        outline: 1px solid #d7d7d7;
    }

    .labelGroup {
        display: none;
    }

    .recent_activity_container {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: fit-content;
        padding: 0px 40px 0px 20px;
        border-radius: 30px;
    }

    .recent_activity_text {
        font-size: 12px;
        color: #3e4259;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        padding-bottom: 10px;
        user-select: none;
    }

    .card_amount_text {
        font-size: 16px;
    }

    .card_amount_sub_text {
        font-size: 15px;
    }

    .card_info {
        color: rgba(85, 85, 85, 0.55);
        font-size: 13px;
    }

    .statistics > svg > g > g:nth-child(2) {
        display: none;
    }

    .statistics .Series > g > path {
        stroke-width: 3 !important;
    }

    .income_amt {
        font-size: 40px;
        color: #1877f2;
    }
    // Profile Section

    .profile_banner {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        gap: 30px;
        border-radius: 8px;
        justify-content: flex-end;
        align-items: center;
        background: rgba(61, 174, 238, 0.2);
        height: 18rem;
        margin-top: -3rem;
        margin-bottom: 2rem;
    }

    .profileSection {
        width: 100%;
        gap: 2rem;
        padding: 1.6rem;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        h2 {
            color: #3daeee;
            font-size: 2.3rem;
        }
        .sectionLine {
            border: 0.5px solid rgb(#3daeee, 0.5);
        }
        .currentDetails {
            display: flex;
            flex-direction: column;
            .profileDetails {
                display: flex;
                align-items: center;
                width: 80%;
                margin-bottom: 1.5rem;
                .leftSide {
                    display: flex;
                    flex-direction: column;
                    gap: 2.5rem;
                }
                .rightSide {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    margin-left: 22%;
                }
                h3 {
                    margin: 0;
                    font-size: 1.7rem;
                    color: #555;
                }
                .userDetail {
                    margin-left: 5rem;
                    border-radius: 5rem;
                    padding: 0.5rem 3rem;
                    background-color: #888;
                    color: #fff;
                    font-size: 1.7rem;
                }
            }
        }
        .editSection {
            display: flex;
            align-items: center;
            gap: 7rem;
            width: 70%;
            justify-content: space-between;
            margin-top: 1rem;
            p {
                margin: 0;
                font-size: 1.7rem;
            }
        }
    }

    .profile_bottom {
        width: 100%;
        background-color: rgba(61, 174, 238, 0.2);
        border-radius: 7px;
        height: 65px;
        display: flex;
        gap: 40px;
    }

    .profile_address {
        font-size: 32px;
        font-weight: 500;
        color: #555555;
        margin-bottom: 0px;
    }

    .profile_picture {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: relative;
        bottom: 75px;
        left: 30px;
    }

    .filter-button:hover {
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        background-color: #147ebb;
    }

    .profile_button {
        padding: 10px 20px;
        color: #ffffff;
        border-radius: 8px;
        background: #3daeee;
        font-size: 16px;
        font-family: Poppins;
        border: inherit;
        cursor: pointer;

        &:hover {
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            background-color: #147ebb;
        }
    }

    .profile_form_input {
        font-size: 18px;
        width: 500px;
        padding: 16px;
        background-color: #ffffff;
        border: 1px solid #e3e3e3;
        border-radius: 8px 8px 0px 0px;
    }

    .profile_form_textarea {
        color: #979797;
        font-size: 18px;
        height: 120px;
        width: 100%;
        max-width: 100%;
        resize: none;
        padding: 16px;
        background-color: #ffffff;
        border: 1px solid #e3e3e3;
        border-radius: 8px 8px 0px 0px;
    }

    .change_wallet_button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 54px;
        width: 330px;
        border: 1px solid #e6e4e4;
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        cursor: pointer;
    }

    .delete_button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        width: 180px;
        background-color: #e54335;
        border-radius: 1px solid #e6e4e4;
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
        color: #ffffff;
        border-radius: 7px;
    }

    .change_wallet_button_text {
        background: linear-gradient(90deg, #3daeee 24.87%, #ee883d 104.81%);
    }

    .govt_button {
        width: 287px;
        height: 46px;
        border: 2px solid #ffffff;
        border-radius: 6px;
        background: #3daeee;
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
    }

    .accept_button {
        padding: 5px 16px;
        color: #ffffff;
        border-radius: 8px;
        background: #2fbc4e;
        font-size: 20px;
        font-family: Poppins;
        border: inherit;
        cursor: pointer;
        height: 40px;
        width: 120px;
    }

    .reject_button {
        padding: 5px 16px;
        color: #ffffff;
        border-radius: 8px;
        background: #e54335;
        font-size: 16px;
        font-family: Poppins;
        border: inherit;
        cursor: pointer;
        height: 40px;
        width: 120px;
    }

    .document_title {
        font-size: 20px;
        color: #555555;
    }

    .apply_button {
        width: 190px;
        height: 40px;
        background: #3daeee;
        border-radius: 8px;
        color: #ffffff;
        font-size: 20px;
        border: unset;
    }

    .revert_button {
        width: 120px;
        height: 40px;
        background: #ffffff;
        border-radius: 8px;
        border: 2px solid #3daeee;
        color: #3daeee;
        font-size: 20px;
    }

    .leftsidebar_item {
        padding: 2rem 3rem;
        img {
            width: 2rem;
        }
    }

    .agreementView {
        height: fit-content;
        .ant-upload-list-text-container {
            width: 80%;
        }
        .uploadAgreementDocs {
            margin-top: 3rem;
            h3 {
                color: #555;
                font-weight: 400;
                font-size: 1.8rem;
            }
            .uploadFiles {
                width: 80%;
                border: 1px solid rgb(#3daeee, 0.5);
                &:hover {
                    border: 1px dashed #3daeee;
                }
            }
            .agreementUploadHeading {
                display: flex;
                justify-content: space-between;
                width: 80%;
                align-items: center;
                margin: 4rem 0 0.5rem 0;
            }
            .bottomSection {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .ant-checkbox-wrapper {
                    margin-top: 1.5rem;
                    #checkBox {
                    }
                    span {
                        font-size: 1.8rem;
                        color: #333;
                    }
                }
                .finishButton {
                    border: none;
                    background-color: #3daeee;
                    padding: 0.5rem 2rem;
                    font-size: 1.8rem;
                    color: #fff;
                    cursor: pointer;
                    width: fit-content;
                    border-radius: 1rem;
                    &:hover {
                        background-color: rgb(#3daeee, 0.8);
                    }
                }
                .disabledFinishButton {
                    border: none;
                    background-color: rba(#3daeee, 0.7);
                    padding: 0.5rem 2rem;
                    font-size: 1.8rem;
                    color: #fff;
                    cursor: pointer;
                    width: fit-content;
                    border-radius: 1rem;
                    &:hover {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1099px) and (min-width: 768px) {
    }

    @media only screen and (max-width: 767px) {
    }

    .add-property-sign {
        display: "flex";
        align-items: "center";
        justify-content: "center";
        height: "350px";
        margin-left: 20;
        transition: all ease 0.3s;
        &:hover {
            transition: all ease 0.3s;
            scale: (1.1);
            cursor: pointer;
        }
    }
}
// for macbook screen size and lower
@media screen and (max-width: 1440px) {
    .main_container {
        max-width: 1440px;

        .leftsidebar_container {
            margin-left: 10rem;
        }
        .leftsidebar_button_outlined {
            padding: 0.6rem 4.5rem;
        }
        .leftsidebar_button {
            padding: 0.6rem 4.5rem;
        }
        .leftsidebar_item {
            padding: 2rem 3rem;
            img {
                width: 2rem;
            }
        }
        .rightsidebar_container {
            .addPropertyBox {
                transition: all 0.3s ease;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: center;
                align-items: center;
                width: "fit-content";
                height: 28rem;
                width: 34rem;
                border: 1px solid #3daeee;
                margin-left: "1rem";
                p {
                    font-size: 2rem;
                    color: #3daeee;
                }
                svg {
                    fill: #fff;
                    stroke: #3daeee;
                }
                &:hover {
                    transition: all 0.3s ease;
                    transform: scale(1.05);
                    background-color: rgb(#3daeee, 0.6);
                    cursor: pointer;
                    color: #fff;
                    p {
                        color: #fff;
                    }
                    svg {
                        fill: rgb(#3daeee, 0.2);
                        stroke: #fff;
                    }
                }
            }
            margin-left: 5rem;
            max-width: 900px;

            .rightsidebar_subtitle {
                margin-bottom: 0;
            }
            .recent_activity_container {
                background: #ecf7fe;
                width: 80%;
                transition: all ease 0.3s;
                &:hover {
                    transition: all ease 0.3s;
                    scale: (1.01);
                    transform: translateY(-0.2rem);
                    cursor: pointer;
                }
            }
        }
        .dashboard_card {
            border-radius: 1rem;
            margin-right: 1rem;
            border: 1px solid #dedede;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            &:hover {
                background-color: rgb(#3daeee, 0.1);
            }
        }
        .recent_activity_container {
            margin-top: 2rem;
        }
    }
}

// for desktop screen size and higher
@media screen and (min-width: 1441px) {
    .main_container {
        .main_container_inner {
            display: flex;
            padding-left: 15vw;
            .leftsidebar_container {
                .buttonsContainer {
                    button {
                        padding: 0.8rem 4.5rem;
                    }
                }
            }
            .rightsidebar_container {
                width: 120rem;
                .addPropertyBox {
                    transition: all 0.3s ease;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    justify-content: center;
                    align-items: center;
                    width: "fit-content";
                    height: 28rem;
                    width: 34rem;
                    border: 1px solid #3daeee;
                    margin-left: "1rem";
                    p {
                        font-size: 2rem;
                        color: #3daeee;
                    }
                    svg {
                        fill: #fff;
                        stroke: #3daeee;
                    }
                    &:hover {
                        transition: all 0.3s ease;
                        transform: scale(1.05);
                        background-color: rgb(#3daeee, 0.6);
                        cursor: pointer;
                        color: #fff;
                        p {
                            color: #fff;
                        }
                        svg {
                            fill: rgb(#3daeee, 0.2);
                            stroke: #fff;
                        }
                    }
                }
            }
        }
        .recent_activity_container {
            width: 77%;
        }
    }
}
