.properties-page {

  .App {
    width: 80%;
    transform: translateX(12%);

    .upper-body {
      width: 80%;
      margin-left: 10%;
    }
  }

  .body {
    display: inline-block;
    transform: translateX(12%);
    .real-body {
      display: flex;
      float: left;
      margin-left: 80px;

      .right-body {
        .queries-count {
          display: inline;
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          font-size: 14px;
          color: #555555;
        }
        margin-left: 70px

      }

      .left-body {
        float: left;
        width: 432px;
        height: 600px;
      }

      .property-listing {
        margin-bottom: 9px;
      }

      .page-numbers {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }
    }
  }

  .container {
    text-align: center;
  }

  .loader-container {
    margin-top: 50px;
    text-align: center;
  }


}