.SearchAvailability {

    .search_availability_content {
        box-sizing: border-box;
        background: rgba(61, 174, 238, 0.07);
        border: 1px solid #3DAEEE;
        border-radius: 8px;
        width: 1300px;
    }


}